{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?language=en-US&page=1&query=Fight%20Club",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "abf46bf7f4d9084fdaee31c5b22346ba"
          ],
          "X-Memc-Age": [
            "11155"
          ],
          "X-Memc-Expires": [
            "10445"
          ],
          "Etag": [
            "W/\"52ca2377eb270ad94997fc1b5091b637\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg\",\"genre_ids\":[18,53,35],\"id\":550,\"original_language\":\"en\",\"original_title\":\"Fight Club\",\"overview\":\"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \\\"fight clubs\\\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.\",\"popularity\":77.364,\"poster_path\":\"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg\",\"release_date\":\"1999-10-15\",\"title\":\"Fight Club\",\"video\":false,\"vote_average\":8.432,\"vote_count\":26054},{\"adult\":false,\"backdrop_path\":\"/1VqE5z4VIOcNcajJuHLk4fDkY9G.jpg\",\"genre_ids\":[28,27],\"id\":289732,\"original_language\":\"zh\",\"original_title\":\"屍城\",\"overview\":\"It's the end of the century at a corner of the city in a building riddled with crime - Everyone in the building has turned into zombies. After Jenny's boyfriend is killed in a zombie attack, she faces the challenge of surviving in the face of adversity. In order to stay alive, she struggles with Andy to flee dange[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/550/reviews",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f9675ec3d05564940601d2e8abf4edb5"
          ],
          "X-Memc-Age": [
            "1193"
          ],
          "X-Memc-Expires": [
            "14108"
          ],
          "Etag": [
            "W/\"ee0461e12e462068734a278639b5a02a\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":550,\"page\":1,\"results\":[{\"author\":\"Goddard\",\"author_details\":{\"name\":\"\",\"username\":\"Goddard\",\"avatar_path\":\"/https://www.gravatar.com/avatar/f248ec34f953bc62cafcbdd81fddd6b6.jpg\",\"rating\":null},\"content\":\"Pretty awesome movie.  It shows what one crazy person can convince other crazy people to do.  Everyone needs something to believe in.  I recommend Jesus Christ, but they want Tyler Durden.\",\"created_at\":\"2018-06-09T17:51:53.359Z\",\"id\":\"5b1c13b9c3a36848f2026384\",\"updated_at\":\"2021-06-23T15:58:09.421Z\",\"url\":\"https://www.themoviedb.org/review/5b1c13b9c3a36848f2026384\"},{\"author\":\"Brett Pascoe\",\"author_details\":{\"name\":\"Brett Pascoe\",\"username\":\"SneekyNuts\",\"avatar_path\":\"/https://www.gravatar.com/avatar/04d45e186650672a416315dac947b3d6.jpg\",\"rating\":9.0},\"content\":\"In my top 5 of all time favourite movies. Great story line and a movie you can watch over and over again.\",\"created_at\":\"2018-07-05T13:22:41.754Z\",\"id\":\"5b3e1ba1925141144c007f17\",\"updated_at\":\"2021-06-[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/550/credits?page=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS, STORE"
          ],
          "X-Memc-Key": [
            "6754c7a2c68c18b4a7cb63826449a802"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "14484"
          ],
          "Etag": [
            "W/\"0deb580920ca6884f6be75274d5ed29c\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":550,\"cast\":[{\"adult\":false,\"gender\":2,\"id\":819,\"known_for_department\":\"Acting\",\"name\":\"Edward Norton\",\"original_name\":\"Edward Norton\",\"popularity\":20.031,\"profile_path\":\"/5XBzD5WuTyVQZeS4VI25z2moMeY.jpg\",\"cast_id\":4,\"character\":\"The Narrator\",\"credit_id\":\"52fe4250c3a36847f80149f3\",\"order\":0},{\"adult\":false,\"gender\":2,\"id\":287,\"known_for_department\":\"Acting\",\"name\":\"Brad Pitt\",\"original_name\":\"Brad Pitt\",\"popularity\":41.049,\"profile_path\":\"/oTB9vGIBacH5aQNS0pUM74QSWuf.jpg\",\"cast_id\":5,\"character\":\"Tyler Durden\",\"credit_id\":\"52fe4250c3a36847f80149f7\",\"order\":1},{\"adult\":false,\"gender\":1,\"id\":1283,\"known_for_department\":\"Acting\",\"name\":\"Helena Bonham Carter\",\"original_name\":\"Helena Bonham Carter\",\"popularity\":33.643,\"profile_p[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/550",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "86a19bcac53cd02291bef63cf5445bc3"
          ],
          "X-Memc-Age": [
            "4493"
          ],
          "X-Memc-Expires": [
            "10067"
          ],
          "Etag": [
            "W/\"b0043260fd476c85b3f563c30a9685b0\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg\",\"belongs_to_collection\":null,\"budget\":63000000,\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":53,\"name\":\"Thriller\"},{\"id\":35,\"name\":\"Comedy\"}],\"homepage\":\"http://www.foxmovies.com/movies/fight-club\",\"id\":550,\"imdb_id\":\"tt0137523\",\"original_language\":\"en\",\"original_title\":\"Fight Club\",\"overview\":\"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \\\"fight clubs\\\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.\",\"popularity\":77.364,\"poster_path\":\"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg\",\"production_companies\":[{\"id\":508,\"logo_path\":\"/7cxRWzi4LsVm4Utfpr1hfARNurT.png\",\"name\":\"Regency Enterprises\",\"origin_country\":\"US\"},{\"id\":711,\"logo_path\":\"/tEiIH5QesdheJmDAqQwvtN60727.png\",\"name\":\"Fox 2000 Pictures\",\"origin_country\":\"US\"},{\"id\":20555,\"logo_path\":\"/hD8yEGUBlHOcfHYbujp71vD8gZp.png\",\"name\":\"Taurus Film\",\"origin_country\":\"DE\"},{\"id\":54051,\"logo_path\":null,\"name\":\"Atman Entertainment\",\"origin_country\":\"\"},{\"id\":54052,\"logo_path\":null,\"name\":\"Knickerbocker Films\",\"origin_country\":\"US\"},{\"id\":4700,\"logo_path\":\"/A32wmjrs9Psf4zw0uaixF0GXfxq.png\",\"name\":\"The Linson Company\",\"origin_country\":\"US\"},{\"id\":25,\"logo_path\":\"/qZCc1lty5FzX30aOCVRBLzaVmcp.png\",\"name\":\"20th Century Fox\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1999-10-15\",\"revenue\":100853753,\"runtime\":139,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"Mischief. Mayhem. Soap.\",\"title\":\"Fight Club\",\"video\":false,\"vote_average\":8.432,\"vote_count\":26055}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 17:40:57 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/289732/reviews",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "025d08b546ae38d37fc1f2104d202832"
          ],
          "X-Memc-Age": [
            "8480"
          ],
          "X-Memc-Expires": [
            "7989"
          ],
          "Etag": [
            "W/\"0cc3ae74f909090aff1de368ea1240aa\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":289732,\"page\":1,\"results\":[],\"total_pages\":0,\"total_results\":0}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 17:40:57 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/973534/credits?page=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS, STORE"
          ],
          "X-Memc-Key": [
            "a235ff756d6bed3746c8d0acac9be351"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "15153"
          ],
          "Etag": [
            "W/\"af8c6c81c64f4ad7d888e963ecba81c3\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":973534,\"cast\":[],\"crew\":[]}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 17:40:58 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/104782/credits?page=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS, STORE"
          ],
          "X-Memc-Key": [
            "cbfa70c2157fd953305df5ae55819a5e"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "16731"
          ],
          "Etag": [
            "W/\"15a658d8b78f4d324c205e94e448e9bf\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":104782,\"cast\":[],\"crew\":[{\"adult\":false,\"gender\":0,\"id\":2685357,\"known_for_department\":\"Directing\",\"name\":\"Rovero Impiglia\",\"original_name\":\"Rovero Impiglia\",\"popularity\":0.6,\"profile_path\":null,\"credit_id\":\"5eee22b3b84cdd003630d08e\",\"department\":\"Directing\",\"job\":\"Director\"},{\"adult\":false,\"gender\":0,\"id\":2685357,\"known_for_department\":\"Directing\",\"name\":\"Rovero Impiglia\",\"original_name\":\"Rovero Impiglia\",\"popularity\":0.6,\"profile_path\":null,\"credit_id\":\"5eee22b90f1e580037bc0087\",\"department\":\"Writing\",\"job\":\"Writer\"},{\"adult\":false,\"gender\":0,\"id\":2685359,\"known_for_department\":\"Directing\",\"name\":\"Luigi Maria Perotti\",\"original_name\":\"Luigi Maria Perotti\",\"popularity\":0.6,\"profile_path\":null,\"credit_id\":\"5eee22c49661fc003861d903\",\"department\":\"Directing\",\"job\":\"Director\"},{\"adult\":false,\"gender\":0,\"id\":2685359,\"known_for_department\":\"Directing\",\"name\":\"Luigi Maria Perotti\",\"original_name\":\"Luigi Maria Perotti\",\"popularity\":0.6,\"profile_path\":null,\"credit_id\":\"5eee22cab0460500340ed843\",\"department\":\"Writing\",\"job\":\"Writer\"}]}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 17:41:00 GMT"
    },
[...]
