{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/top_rated?page=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg\",\"genre_ids\":[18,80],\"id\":238,\"original_language\":\"en\",\"original_title\":\"The Godfather\",\"overview\":\"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.\",\"popularity\":129.885,\"poster_path\":\"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg\",\"release_date\":\"1972-03-14\",\"title\":\"The Godfather\",\"video\":false,\"vote_average\":8.7,\"vote_count\":17637},{\"adult\":false,\"backdrop_path\":\"/wPU78OPN4BYEgWYdXyg0phMee64.jpg\",\"genre_ids\":[18,80],\"id\":278,\"original_language\":\"en\",\"original_title\":\"The Shawshank Redemption\",\"overview\":\"Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238/reviews",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f393aa4aefe6bf5c800f6c8dd66ef2f2"
          ],
          "X-Memc-Age": [
            "12763"
          ],
          "X-Memc-Expires": [
            "2535"
          ],
          "Etag": [
            "W/\"e6d6f7895416bb7a7beb10330bc76355\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":238,\"page\":1,\"results\":[{\"author\":\"futuretv\",\"author_details\":{\"name\":\"\",\"username\":\"futuretv\",\"avatar_path\":\"/https://www.gravatar.com/avatar/f44259356bf6110070ed799323d539d6.jpg\",\"rating\":10.0},\"content\":\"The Godfather Review by Al Carlson\\r\\n\\r\\nThe Godfather is a film considered by most to be one of the greatest ever made. From The American Film Institute to as voted by users on the Internet Movie Database (IMDB) it is consider to be one of the best. As a film that ranks as high as other masterpieces including Citizen Kane, Pulp Fiction and 12 Angry Men, The Godfather is an exceptional piece of cinema excellence that is flawless and is simply the pinnacle crime drama.\\r\\nThe Godfather r[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238/credits?page=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "ca0e33451420e336c2009221515d87c2"
          ],
          "X-Memc-Age": [
            "8401"
          ],
          "X-Memc-Expires": [
            "6012"
          ],
          "Etag": [
            "W/\"80ad74c3625b3ddbd4d738a044271053\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":238,\"cast\":[{\"adult\":false,\"gender\":2,\"id\":3084,\"known_for_department\":\"Acting\",\"name\":\"Marlon Brando\",\"original_name\":\"Marlon Brando\",\"popularity\":14.838,\"profile_path\":\"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg\",\"cast_id\":5,\"character\":\"Don Vito Corleone\",\"credit_id\":\"52fe422bc3a36847f8009357\",\"order\":0},{\"adult\":false,\"gender\":2,\"id\":1158,\"known_for_department\":\"Acting\",\"name\":\"Al Pacino\",\"original_name\":\"Al Pacino\",\"popularity\":37.187,\"profile_path\":\"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg\",\"cast_id\":6,\"character\":\"Don Michael Corleone\",\"credit_id\":\"52fe422bc3a36847f800935b\",\"order\":1},{\"adult\":false,\"gender\":2,\"id\":3085,\"known_for_department\":\"Acting\",\"name\":\"James Caan\",\"original_name\":\"James Caan\",\"popularity\":17.354,\"profile_path\":\"/bG[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "9d48db5c244b9c3e3d162ef155211175"
          ],
          "X-Memc-Age": [
            "10368"
          ],
          "X-Memc-Expires": [
            "6957"
          ],
          "Etag": [
            "W/\"28e2e712c5858e782acac38fd81764cd\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg\",\"belongs_to_collection\":{\"id\":230,\"name\":\"The Godfather Collection\",\"poster_path\":\"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg\",\"backdrop_path\":\"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg\"},\"budget\":6000000,\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":80,\"name\":\"Crime\"}],\"homepage\":\"http://www.thegodfather.com/\",\"id\":238,\"imdb_id\":\"tt0068646\",\"original_language\":\"en\",\"original_title\":\"The Godfather\",\"overview\":\"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.\",\"popularity\":129.885,\"poster_path\":\"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg\",\"production_companies\":[{\"id\":4,\"logo_path\":\"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png\",\"name\":\"Paramount\",\"origin_country\":\"US\"},{\"id\":10211,\"logo_path\":null,\"name\":\"Alfran Productions\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1972-03-14\",\"revenue\":245066411,\"runtime\":175,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"},{\"english_name\":\"Italian\",\"iso_639_1\":\"it\",\"name\":\"Italiano\"},{\"english_name\":\"Latin\",\"iso_639_1\":\"la\",\"name\":\"Latin\"}],\"status\":\"Released\",\"tagline\":\"An offer you can't refuse.\",\"title\":\"The Godfather\",\"video\":false,\"vote_average\":8.712,\"vote_count\":17640}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 17:40:47 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/278/reviews",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "b6cc2494a001f493f0badf37cc340699"
          ],
          "X-Memc-Age": [
            "4013"
          ],
          "X-Memc-Expires": [
            "11472"
          ],
          "Etag": [
            "W/\"3fd08b116b0b587fa87909d3f44506a6\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":278,\"page\":1,\"results\":[{\"author\":\"elshaarawy\",\"author_details\":{\"name\":\"\",\"username\":\"elshaarawy\",\"avatar_path\":null,\"rating\":9.0},\"content\":\"very good movie 9.5/10 محمد الشعراوى\",\"created_at\":\"2016-04-29T18:08:41.892Z\",\"id\":\"5723a329c3a3682e720005db\",\"updated_at\":\"2021-06-23T15:57:47.190Z\",\"url\":\"https://www.themoviedb.org/review/5723a329c3a3682e720005db\"},{\"author\":\"John Chard\",\"author_details\":{\"name\":\"\",\"username\":\"John Chard\",\"avatar_path\":\"/utEXl2EDiXBK6f41wCLsvprvMg4.jpg\",\"rating\":10.0},\"content\":\"Some birds aren't meant to be caged.\\r\\n\\r\\nThe Shawshank Redemption is written and directed by Frank Darabont. It is an adaptation of the Stephen King novella Rita Hayworth and Shawshank Redemption. Starring Tim Robbins and Morgan Freeman, the film portrays [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/772071/reviews",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<TMDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "5d12ded350c7d79bbaa5eab0c73f505e"
          ],
          "X-Memc-Age": [
            "3471"
          ],
          "X-Memc-Expires": [
            "13920"
          ],
          "Etag": [
            "W/\"720ef3899d4c8db44e5b76ddbb2858da\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":772071,\"page\":1,\"results\":[],\"total_pages\":0,\"total_results\":0}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 17:40:47 GMT"
    },
[...]
